body {
    background-color: rgb(255, 255, 255);
    color: rgb(59, 57, 57);
    font-family: poppinsregular;
    margin: 0 auto;
    
}

header{
    display: flex;
    justify-content: space-between; /*separação de items*/
    align-items: center;  /*alinhamento de items*/
    padding: 30px;
}

header h1{
    color: #17B8A6;
}

#title{
    line-height: 10px;
}

#custom-icons{
    display: flex;
}

#custom-btn{
    border: 2px solid #17B8A6;
    border-radius: 20px;
}

#custom-btn:hover{
    background-color: #17B8A6;
    color: #fff;
    transition: 0.2s;
}

a{
    color: inherit;
}

li{
    display: inline-block;
    margin: 15px;
}

li:hover{
    color: #17B8A6;
    cursor: pointer;
    transition: 0.3s all;
}

main{
    display: flex;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 30px;
}

#content-1{
    max-width: 45%;
}

#title-2{
    line-height: 15px;
}

#title-2 h2{
    color: #17B8A6;
}

p{
    margin-top: 30px;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-top: 35px;
}

form [type="submit"]{
    background-color: #17B8A6;
    color: #fff;
    font-family: poppinsmedium;
    border: 1px solid #17B8A6;
    cursor: pointer;
}

input{
    line-height: 25px;
    border-radius: 20px;
    padding: 10px;
    font-family: poppinsmedium;
    margin: 5px;
    border: 1px solid #5a5b5c;
}

img{
    width: 350px;
    height: auto;
    margin-left: 12%;
    animation: float 3s ease-in-out infinite;

}

@keyframes float{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50px);
    }
}

footer {

    background-color: #17B8A6;
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 20px;
}
